.button_solicite-orcamento {
    border: transparent;
    border-radius: 30px;
    min-width: 380px;
    padding: 8px 24px;
    margin-top: 20px;
    border-radius: 30px;
    background: var(--gradiente, linear-gradient(180deg, #FB0 0%, #F2A60C 100%));
    box-shadow: 0px 2px 6px 0px rgba(47, 47, 47, 0.15);
}

.button_solicite-orcamento a {
    text-decoration: none;
    color: var(--p-5, #320);
    font-family: var(--font-Ubuntu);
    font-size: 14px;
    font-style: normal;
    line-height: 26.71px;
}

.button_contate-nos {
    padding: 12px 10px;
    border: 1px solid var(--color-primary);
    border-radius: 12px;
    background-color: transparent;
    /* margin-left: 15px; */
}

.button_contate-nos a {
    padding: 10px;
    font-size: var(--font-s1);
    color: var(--color-primary);
    text-decoration: none;
    font-family: var(--font-Ubuntu);
}

.button_contate-nos:hover {
    transition: 0.5s;
    color: var(--white);
    background: linear-gradient(180deg, #343434 0%, #232323 100%);
}

@media (max-width: 888px) {
    .button_contate-nos {
        display: none;
    }
}

/* .button_contate-nos a:hover {
    transition: 1s;
} */