#feedback {
    padding: 0 16px;
}

.feedback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#feedback hr {
    margin-top: 15px;
    margin-bottom: 10px;
    max-width: 500px;
    border-radius: 20px;
    background: var(--c-7, #707070);
    opacity: 20%;
}