#hero {
    padding: 0 16px;
    height: 372px;
    background-image: url(/assets/bg-text-2.png);
    max-width: 1920px;
    background-position: center;
    object-fit: cover;
    object-position: center;
}

#hero h1 {
    padding-top: 40px;
    color: var(--white);
    font-family: var(--font-Ubuntu);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    max-width: 413px;
}

#hero p {
    color: var(--white);
    font-family: var(--font-Mukta);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 12px;
    max-width: 456px;
}

#hero hr {
    margin-top: 24px;
    max-width: 500px;
    border-radius: 20px;
    background: var(--c-7, #707070);
    opacity: 20%;
    display: block;
}

.btn-container {
    display: flex;
    width: 100%;
}

/* breakpoint - tablet */
@media (min-width: 975px) {
    #hero {
        background-color: var(--color-secondary);
    }

    #hero hr {
        display: none;
    }

    .width-hr {
        max-width: 500px;
    }
}

/* breakpoint - desktop */
@media (min-width: 1440px) {
    #hero {
        padding: 0px;
        height: 555px;
        background-image: url(/assets/bg-desktop.png);
    }

    #hero h1 {
        padding-top: 140px;
    }

    #hero p {
        margin-top: 20px;
    }

    .button_solicite-orcamento {
        margin-top: 24px;
    }
}

@media (min-width: 319px) {
    
    #hero hr{
        margin-top: 5px;
    }
}