#projects {
    padding: 40px 16px;
}

#projects hr {
    margin-top: 24px;
    max-width: 500px;
    border-radius: 20px;
    background: var(--c-7, #707070);
    opacity: 20%;
    display: block;
}

#projects h2 {
    color: var(--c-1, #F7F7F7);
    font-family: var(--font-Ubuntu);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

#projects p {
    color: var(--c-1, #F7F7F7);
    font-family: var(--font-Mukta);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}


@media (min-width: 319px) {
    
    #projects h2{
        padding-top: 40px;
    }
}


/* breakpoint - tablet */
@media (min-width: 975px) {
    #projects {
        padding: 40px 16px 0;
        height: 480px;
    }

    #projects h2 {
        /* padding-top: 40px; */
        color: var(--color-primary);
        font-size: 32px;
        font-weight: 700;
    }

    #projects p {
        color: var(--color-primary);
        font-size: 16px;
        margin-top: 20px;
        width: 864px;
    }

    #projects hr {
        display: none;
    }
}

/* breakpoint - desktop */

@media (min-width: 1440px) {
    #projects {
        padding: 40px 0;
        height: 100%
    }
}
