@import url('reset.css');
@import url('nav.css');
@import url('buttons.css');
@import url('hero.css');
@import url('services.css');
@import url('whoWeAre.css');
@import url('projects.css');
@import url('feedback.css');
@import url('occupation-area.css');
@import url('footer.css');

:root {
    --color-primary: #111111;
    --color-secondary: #2E2E2E;

    --white: #FFFFFF;
    --white-gray: #D9D9D9;

    --color-seconday: #996633;
    --color-roxo-claro: #2E273D;

    --font-Ubuntu: 'Ubuntu', sans-serif;
    --font-Mukta: 'Mukta', sans-serif;

    --font-s1: 18px;
    --cinza-c9: #404040;
    --amarelo-p1: #FFBB00;

    --header-background-active: blue;
    /* Altere esta cor para a cor de fundo ativa desejada */
}

html {
    scroll-behavior: smooth;
}

body,
ul {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    max-width: 1405px;
    margin: 0 auto;
}

@media (max-width: 1440px) {
    .wrapper {
        max-width: 1170px;
    }
}

@media (max-width: 975px) {
    body {
        background-color: var(--color-secondary);
    }
}