@import url('reset.css');
/* @import url('nav.css'); */
@import url('buttons.css');

:root {
    --color-primary: #111111;
    --white: #FFFFFF;
    --white-gray: #D9D9D9;
    --color-seconday: #996633;
    --color-roxo-claro: #2E273D;

    --font-Ubuntu: 'Ubuntu', sans-serif;
    --font-Mukta: 'Mukta', sans-serif;

    --font-s1: 18px;
    --cinza-c9: #404040;
    --amarelo-p1: #FFBB00;

    --header-background-active: blue;
    /* Altere esta cor para a cor de fundo ativa desejada */
}

body,
ul {
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
    text-decoration: none;
    font-family: var(--font-Ubuntu);
}

a:hover {
    /* background: rgba(0, 0, 0, 0.05); */
}

.hide-on-mobile {
    display: block;
}

.hide-on-desktop {
    display: none;
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    filter: invert(1);
}

#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--amarelo-p1);
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

#menu a {
    display: block;
    padding: 0.9rem 1.5rem;
    font-size: 18px;
}

#btn-mobile {
    display: none;
}

.social-media-menu {
    display: none;
}

@media (max-width: 975px) {
    .social-media-menu {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 50px;
    }


    .hide-on-desktop {
        display: block;
    }

    #logo {
        filter: invert(0);
    }

    .hide-on-mobile {
        display: none;
    }

    #header {
        justify-content: space-between;
        background: var(--cinza-c9);
    }

    #nav.active #header {
        background: red;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: var(--cinza-c9);
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        font-size: 24px;
    }

    #nav.active #menu {
        height: calc(55vh - 60px);
        visibility: visible;
        overflow-y: auto;
        background: var(--amarelo-p1);
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
        font-weight: 600;
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
        color: white;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}